[//]: # (Generated by genapidoc.py on 2026-01-13 11:24:38.373019. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                "block_index": 245,
                "block_time": 1768303462,
                "difficulty": 545259519,
                "previous_block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                "block_index": 245,
                "block_time": 1768303462,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "fee": 0,
                "source": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                "transaction_type": "dispense",
                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "tx_index": 121,
                "utxos_info": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1 83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "out_index": 0,
                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "tx_index": 121,
                "block_time": 1768303462,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                "transaction_count": 1,
                "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                "block_time": 1768303462
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "tx_index": 121
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                "utxo_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                "block_time": 1768303462,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1768303462,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q5dk9fq839420q5n5e2k7g88dy29pzmsx37j9le",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "status": "valid",
                "tx_hash": "048efbef2c866ee05504863eb0efcc6f30f3c581aa99c1e4674732bc905d56a4",
                "tx_index": 77,
                "block_time": 1768303268,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "048efbef2c866ee05504863eb0efcc6f30f3c581aa99c1e4674732bc905d56a4",
            "block_index": 201,
            "block_time": 1768303268
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q5dk9fq839420q5n5e2k7g88dy29pzmsx37j9le",
                "status": "valid",
                "tx_hash": "674e73a0c1438d5ac3041e707ad56fee0a200003d16b67e415a814507dc251f3",
                "tx_index": 81,
                "block_time": 1768303284,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "674e73a0c1438d5ac3041e707ad56fee0a200003d16b67e415a814507dc251f3",
            "block_index": 205,
            "block_time": 1768303284
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q9su4rwa5gzylfh7wuda788l24eghgxav0zs4ee",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q99ltdqgr47sa0gz9nnry7lkfctazv9wuh6y4m7",
                "status": "valid",
                "tx_hash": "05d1d9a04f1dcb624dbdc28894f1e2d351efdf9c362e60d4b9136f3f3dc5f6fd",
                "tx_index": 65,
                "block_time": 1768303220,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "05d1d9a04f1dcb624dbdc28894f1e2d351efdf9c362e60d4b9136f3f3dc5f6fd",
            "block_index": 190,
            "block_time": 1768303220
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "status": "valid",
                "tx_hash": "9645638cc73a347d58b967d29bd3480e19537876062aa9474c7a89eccb2a4c18",
                "tx_index": 42,
                "block_time": 1768303062,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "9645638cc73a347d58b967d29bd3480e19537876062aa9474c7a89eccb2a4c18",
            "block_index": 146,
            "block_time": 1768303062
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "status": "valid",
                "transfer": false,
                "tx_hash": "6838399c198f0f9b87a4dabae5fed3b49eea0bb90b2b2e186e88ed3631f60f9b",
                "tx_index": 117,
                "block_time": 1768303439,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "6838399c198f0f9b87a4dabae5fed3b49eea0bb90b2b2e186e88ed3631f60f9b",
            "block_index": 240,
            "block_time": 1768303439
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1768303451
            },
            "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
            "block_index": 243,
            "block_time": 1768303451
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "status": "valid",
                "transfer": false,
                "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
                "tx_index": 120,
                "block_time": 1768303451,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
            "block_index": 243,
            "block_time": 1768303451
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "6838399c198f0f9b87a4dabae5fed3b49eea0bb90b2b2e186e88ed3631f60f9b",
                "tx_index": 117,
                "block_time": 1768303439,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "6838399c198f0f9b87a4dabae5fed3b49eea0bb90b2b2e186e88ed3631f60f9b",
            "block_index": 240,
            "block_time": 1768303439
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "status": "open",
                "tx_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
                "tx_index": 119,
                "block_time": 1768303447,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qh3r9r3fy59n9plmwu0dgvda5kea6ylr9mpcdr4",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qh3r9r3fy59n9plmwu0dgvda5kea6ylr9mpcdr4"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
            "block_index": 242,
            "block_time": 1768303447
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "96d08e2d5e36e6f5aac73baa67d39d18d7c41644ec15f6fba12998eb4b3191f9_19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qh3r9r3fy59n9plmwu0dgvda5kea6ylr9mpcdr4",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "96d08e2d5e36e6f5aac73baa67d39d18d7c41644ec15f6fba12998eb4b3191f9",
                "tx0_index": 118,
                "tx1_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
                "tx1_index": 119,
                "block_time": 1768303447,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qh3r9r3fy59n9plmwu0dgvda5kea6ylr9mpcdr4",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qh3r9r3fy59n9plmwu0dgvda5kea6ylr9mpcdr4"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
            "block_index": 242,
            "block_time": 1768303447
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "19d0e221ba934debb1a0b88f52c52e92f33a70430a1f66934c45c95ab04c9b53",
            "block_index": 242,
            "block_time": 1768303447
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "22a0f4823661beb5deb2a394b54d2992349d2f189afdeff0fdb2d146daa09a4c"
            },
            "tx_hash": "68a0b9fce7d4f1ea443253b5f4a75d1636033787bb65b93393d0c6872c09138d",
            "block_index": 182,
            "block_time": 1768303188
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4673db7f4e377fb7eb137433bcf450aca963611c6c8404301f0bf7862fe4bd71_87ad0df7986c36af0e3e614cbe89e6e3c1e86c661b1a6769e8774963ecf3d32d",
                "order_match_id": "4673db7f4e377fb7eb137433bcf450aca963611c6c8404301f0bf7862fe4bd71_87ad0df7986c36af0e3e614cbe89e6e3c1e86c661b1a6769e8774963ecf3d32d",
                "status": "expired"
            },
            "tx_hash": "294bf80e1953caf7ab17853e227f74f4718f5505afdb038622764bb4b8f4f2c2",
            "block_index": 225,
            "block_time": 1768303366
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "order_match_id": "e28d7dd5688e6eba5aa1778f59f3cd4acf0e773b68c19a6a5839a5b776a6a49a_22a0f4823661beb5deb2a394b54d2992349d2f189afdeff0fdb2d146daa09a4c",
                "source": "bcrt1q5dk9fq839420q5n5e2k7g88dy29pzmsx37j9le",
                "status": "valid",
                "tx_hash": "68a0b9fce7d4f1ea443253b5f4a75d1636033787bb65b93393d0c6872c09138d",
                "tx_index": 57,
                "block_time": 1768303188,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "68a0b9fce7d4f1ea443253b5f4a75d1636033787bb65b93393d0c6872c09138d",
            "block_index": 182,
            "block_time": 1768303188
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "c89ef0de8043627687c61df896661e4e8619f9a19823ee1a18ebf5546586e6da",
                "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "status": "valid",
                "tx_hash": "5b361420f86002d7449213a4f2ebc1267418c0c572f348bbb3ed0f11e96fd0c4",
                "tx_index": 63,
                "block_time": 1768303213
            },
            "tx_hash": "5b361420f86002d7449213a4f2ebc1267418c0c572f348bbb3ed0f11e96fd0c4",
            "block_index": 188,
            "block_time": 1768303213
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "4673db7f4e377fb7eb137433bcf450aca963611c6c8404301f0bf7862fe4bd71",
                "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "block_time": 1768303309
            },
            "tx_hash": "251e6ce7140b53f3b20163c4b6e5b560c7f1f0fa620a43b37514182a97957e68",
            "block_index": 211,
            "block_time": 1768303309
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "4673db7f4e377fb7eb137433bcf450aca963611c6c8404301f0bf7862fe4bd71_87ad0df7986c36af0e3e614cbe89e6e3c1e86c661b1a6769e8774963ecf3d32d",
                "tx0_address": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "tx1_address": "bcrt1q99ltdqgr47sa0gz9nnry7lkfctazv9wuh6y4m7",
                "block_time": 1768303366
            },
            "tx_hash": "294bf80e1953caf7ab17853e227f74f4718f5505afdb038622764bb4b8f4f2c2",
            "block_index": 225,
            "block_time": 1768303366
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qhkxtwgrl63ck9ehq7l4x9dzswjc8zqh3syycgr",
                "satoshirate": 1,
                "source": "bcrt1qhkxtwgrl63ck9ehq7l4x9dzswjc8zqh3syycgr",
                "status": 0,
                "tx_hash": "e2e25e0fb17bb8bc619a352c2f554ca544d970341bcb83359b92cc829bdcd088",
                "tx_index": 114,
                "block_time": 1768303423,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "e2e25e0fb17bb8bc619a352c2f554ca544d970341bcb83359b92cc829bdcd088",
            "block_index": 236,
            "block_time": 1768303423
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "status": 0,
                "tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mrCopXfV2CkHgwHjgc8JfzZLxiPPxVj2Yc",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "0b8219a13da9803af9e1ea928e3a6012670d4f2466a62187e10b88ffa71580fe",
                "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                "tx_hash": "5271e916f163c5e5e710374f90113db5aea2f9a6789663a6f58db232d69a56e9",
                "tx_index": 31,
                "block_time": 1768303017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "5271e916f163c5e5e710374f90113db5aea2f9a6789663a6f58db232d69a56e9",
            "block_index": 135,
            "block_time": 1768303017
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "tx_index": 121,
                "block_time": 1768303462,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "mime_type": "text/plain",
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "ca0c8685ebdc77b6231a3072a36a06b5c44929447434b431770591e691d001c6",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1768302992,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "ca0c8685ebdc77b6231a3072a36a06b5c44929447434b431770591e691d001c6",
            "block_index": 129,
            "block_time": 1768302992
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "mime_type": "text/plain",
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "start_block": 0,
                "status": "open",
                "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
                "tx_index": 120,
                "block_time": 1768303451,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
            "block_index": 243,
            "block_time": 1768303451
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ec74507e5bc97b65fac8596b56d6d0e72265674144c6a1dfaefd3932fe439822"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1768303378
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "4e6b12739bf8c99fbd8c4777828c6f5f43c9e31db96fa1bb94e769e71a7307c5",
                "paid_quantity": 100000000,
                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "status": "valid",
                "tx_hash": "f6f97c5172d067dbccf78d39287c6a97685bf34e348de2c00a9e1c6c9c14ec9a",
                "tx_index": 97,
                "block_time": 1768303349,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "f6f97c5172d067dbccf78d39287c6a97685bf34e348de2c00a9e1c6c9c14ec9a",
            "block_index": 221,
            "block_time": 1768303349
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "5271904ef708cd0d45b20b4e3c6c4f3bdc9fc4a4a533dc91677689bfb1e7c1ce:0",
                "destination_address": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "status": "valid",
                "tx_hash": "5271904ef708cd0d45b20b4e3c6c4f3bdc9fc4a4a533dc91677689bfb1e7c1ce",
                "tx_index": 112,
                "block_time": 1768303417,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5271904ef708cd0d45b20b4e3c6c4f3bdc9fc4a4a533dc91677689bfb1e7c1ce",
            "block_index": 235,
            "block_time": 1768303417
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "a00605d3d3c50e497bd9eb32105151cec0dc188c805ba00c484e5fe1f3ad55d3:0",
                "source_address": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                "status": "valid",
                "tx_hash": "0ab26e3b4914792bb6ecfa33553c57a0ad9681dd52518d17bbcb12209f76fde4",
                "tx_index": 111,
                "block_time": 1768303413,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0ab26e3b4914792bb6ecfa33553c57a0ad9681dd52518d17bbcb12209f76fde4",
            "block_index": 234,
            "block_time": 1768303413
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                "destination_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                "source_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                "status": "valid",
                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                "tx_index": 121,
                "block_time": 1768303462,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
            "block_index": 245,
            "block_time": 1768303462
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qhkxtwgrl63ck9ehq7l4x9dzswjc8zqh3syycgr",
                "status": "valid",
                "tx_hash": "5ff2c8fd2b4d1d1b06c748f352cb05d32c537bfb15d9f933d94f37c2d238e6e2",
                "tx_index": 9,
                "block_time": 1768302921,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "5ff2c8fd2b4d1d1b06c748f352cb05d32c537bfb15d9f933d94f37c2d238e6e2",
            "block_index": 112,
            "block_time": 1768302921
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.4-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                    "block_time": 1768303462,
                    "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                    "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                    "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                    "previous_block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00",
                    "block_time": 1768303455,
                    "ledger_hash": "cfcd960826adc88a289374a499bc765aec8476dc18179c364f382df97efaab8f",
                    "txlist_hash": "0f51323ac9b753d11a339b2debe1fc83d50655778b617ae02ec378c0ff9c44b2",
                    "messages_hash": "b3422e4ef7199e13844e0ca8b357c6c5c222ba15ab12ddf5333adebe736ee7be",
                    "previous_block_hash": "0f3c1a3590d28759ce968a8ff4cff59e06c099f58e78e5f42b4682d68e18893b",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "0f3c1a3590d28759ce968a8ff4cff59e06c099f58e78e5f42b4682d68e18893b",
                    "block_time": 1768303451,
                    "ledger_hash": "d6f1d2363b137d226bee428928a30719afaf36fb74d06b0b5329d40b728d6b14",
                    "txlist_hash": "27f1b8ee0d5975f0ca8fb28078c9c76881e33fe396fc3389c26ca8c463ca87cd",
                    "messages_hash": "0e372b4ee6bc17917c73e501c73e65339db7ce9f28134603b07f5aec44a85724",
                    "previous_block_hash": "79de10db03bf9331d26ba5e032d200676dca21822d8cb7285486312449f7c177",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "79de10db03bf9331d26ba5e032d200676dca21822d8cb7285486312449f7c177",
                    "block_time": 1768303447,
                    "ledger_hash": "4cb917146c2d8d27597e490ac557f02a0e3cd0b83ddd78fb3b4ccdf2a42700a0",
                    "txlist_hash": "db889e7236addeb1e5254bd07fa2e0496836325f1c8cad6bec56386cc43ce714",
                    "messages_hash": "24725a46b39e724a4c14cb45573e5e5b078e14fd26208ad37c5bf77aafd654bd",
                    "previous_block_hash": "005fc1de801b94aaddcf054b1c37e64ed293230bd1495e2de864b5ce08943cba",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "005fc1de801b94aaddcf054b1c37e64ed293230bd1495e2de864b5ce08943cba",
                    "block_time": 1768303443,
                    "ledger_hash": "4e7ffd906244c970fdbb0ad843eb2ead12268a9d28049f5beee6a43ce50e886f",
                    "txlist_hash": "d5a5d136af6d50353e837754b7632ff89bf958d7d52c1efce3d55de836d35930",
                    "messages_hash": "51e96d73f339a27dde1978310591c9f6f98cbcf5bb3914bd8557ce4807ac6f89",
                    "previous_block_hash": "486961e77479f2df43748dd95c6bad8d5320032ef91c0540e444412f5902afc0",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                "block_time": 1768303462,
                "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                "previous_block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                "block_time": 1768303462,
                "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                "previous_block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                "block_time": 1768303462,
                "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                "previous_block_hash": "486ffc1c791e8338b28307572d142d29ff1562154367170094953ba0a14fde00",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,valid,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + valid (bool, optional) - If True, only return valid transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "block_index": 245,
                    "block_hash": "277df48cad2e08c68fb4bc385adccfbebc760a41a401e3fbac0f4f9d112fbd08",
                    "block_time": 1768303462,
                    "source": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "destination": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1 83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0 3 1",
                    "transaction_type": "dispense",
                    "valid": 1,
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                                "destination_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                                "source_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                                "status": "valid",
                                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                                "tx_index": 121,
                                "block_time": 1768303462,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                            "block_index": 245,
                            "block_time": 1768303462
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                                "destination_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                                "source_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                                "status": "valid",
                                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                                "tx_index": 121,
                                "block_time": 1768303462,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                            "block_index": 245,
                            "block_time": 1768303462
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                                "status": 0,
                                "tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                            "block_index": 245,
                            "block_time": 1768303462
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                                "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                                "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                                "tx_index": 121,
                                "block_time": 1768303462,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                            "block_index": 245,
                            "block_time": 1768303462
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "a59f59370f02fcd4bdbf34de3130fe9a6a3501eb91fa2ad06f0d7928613c43f7",
                        "messages_hash": "92d0bf0a3f6984faae59c18f0b535140d83cc393dde1275f9b12251c16f61a67",
                        "transaction_count": 1,
                        "txlist_hash": "6dca8ee8456acedb53a92cf81ad622e387e357665d5d2eb0e902b93e56dc1038",
                        "block_time": 1768303462
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "tx_index": 121
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                        "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                        "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "tx_index": 121,
                        "block_time": 1768303462,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                        "status": 0,
                        "tx_hash": "8501c6ea05e73d47d52cc9624134d244849aef24b493a41e9d64b56b2c90c77b",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1768303462,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1768303462,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                        "utxo_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                        "block_time": 1768303462,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                        "utxo_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                        "block_time": 1768303462,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "tx_index": 121,
                    "utxo": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                    "utxo_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "tx_index": 121,
                    "utxo": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                    "utxo_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "tx_index": 121,
                    "utxo": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                    "utxo_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "tx_index": 121,
                    "utxo": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                    "utxo_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "4673db7f4e377fb7eb137433bcf450aca963611c6c8404301f0bf7862fe4bd71",
                    "block_index": 211,
                    "block_time": 1768303309
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "5b361420f86002d7449213a4f2ebc1267418c0c572f348bbb3ed0f11e96fd0c4",
                    "block_index": 188,
                    "source": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                    "offer_hash": "c89ef0de8043627687c61df896661e4e8619f9a19823ee1a18ebf5546586e6da",
                    "status": "valid",
                    "block_time": 1768303213
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "6838399c198f0f9b87a4dabae5fed3b49eea0bb90b2b2e186e88ed3631f60f9b",
                    "block_index": 240,
                    "source": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1768303439,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qs09jcgwcslzq3q4jn6q7sdcml9kwz3wt7ps4pa"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "4601f8a60fc9ffe8601baf2748e25353177a2f6a17f3d4062538aabee272f562",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "issuer": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "mime_type": "text/plain",
                    "block_time": 1768303451,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "block_index": 245,
                    "source": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                    "destination": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "destination_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c",
                    "block_index": 245,
                    "source": "0e419effb30524370380df96580134ac49266c6dedb6eb819ae663e9d6c9f32c:1",
                    "destination": "83c33b7f86a48028f61966ddada487e7d2a1aa7145549565d2aad43f77c5307c:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqtzdahcryr0yr2gufysrz6mslqregj3rskrxkv",
                    "destination_address": "bcrt1qcncnurapx26g9806gy6udnlvs80v0psaffyft3",
                    "block_time": 1768303462,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q33puylsgqhtvhcw9fu44ge92ewd90sst56d2qv"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
[...]
